#video-gallery {
	width: 100%;
	height:100%;
	color:white;
	.rsOverflow {
		position: absolute;
		top:0;
		left:0;
		z-index:9;
		width:100%;
	}
	.rsThumbsContainer {
		margin-top:80px;
	}
	.rsImg {

	}
	.video-title {
		text-transform: uppercase;
		@include rem(font-size,14px);
		margin:0;
		line-height:2;
		text-align: center;
	}
	.rsNav {
		background-color:black;
		
		@include transition(all .3s ease);
		
	}
	iframe {
		width:100%;
		
	}
}


.videoGallery .rsThumbs .rsThumb {
	width:100%;  
}
.videoGallery .rsThumbs {
	width:100%;
  	padding: 0;
}

.rsVideoContainer {
	width:100%; 
	height:100%; 
	overflow:hidden; 
	display:block; 
	float: left;
}

.rsNav {
	float:left;
}

.rsDefault .rsThumbsVer {
	position: fixed;
	right: 50px;
	top: 0;
	height: auto;
	width: 120px;
}





/***************
*
*  3. Thumbnails
*
****************/


.rsDefault.rsWithThumbsHor .rsThumbsContainer {
	position: relative;
	height: 100%;
}
.rsDefault.rsWithThumbsVer .rsThumbsContainer {
	position: relative;
	width: 100%;
}
.rsDefault .rsThumb {
	float: left;
	overflow: hidden;
	
}
.rsDefault .rsThumb img {
	width: 100%;
	height: 100%;
}
.rsDefault .rsThumb.rsNavSelected {
	h5 {
		text-decoration: underline;
	}
}













/***************
*
*  5. Fullscreen button
*
****************/

.rsDefault .rsFullscreenBtn {
	right: 0;
	top: 0;
	width: 44px;
	height: 44px;
	z-index: 22;
	display: block;
	position: absolute;
	cursor: pointer;
	
}
.rsDefault .rsFullscreenIcn {
	display: block;
	margin: 6px;
	width: 32px;
	height: 32px;

	background: url('rs-default.png') 0 0;
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	*background-color: #000;
	border-radius: 2px;

}





/***************
*
*  6. Play/close video button
*
****************/

.rsDefault .rsPlayBtn {
	-webkit-tap-highlight-color:rgba(0,0,0,0.3);
	width:64px;
	height:64px;
	margin-left:-32px;
	margin-top:-32px;
	cursor: pointer;
}
.rsDefault .rsPlayBtnIcon {
	width:64px;
	display:block;
	height:64px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;

	background:url(../images/rs-default.png) no-repeat 0 -32px;
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	*background-color: #000;
}
.rsDefault .rsPlayBtn:hover .rsPlayBtnIcon {
	background-color: rgba(0,0,0,0.9);
}
.rsDefault .rsBtnCenterer {
	position:absolute;
	left:50%;
	top:50%;
}




/***************
*
*  7. Preloader
*
****************/

.rsDefault .rsPreloader {
	width:20px;
	height:20px;
	background-image:url(../preloaders/preloader-white.gif);

	left:50%;
	top:50%;
	margin-left:-10px;
	margin-top:-10px;	
}



