/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:visible;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:default;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
#colorbox iframe {
    background-color:black;
}
    #cboxContent{margin-top:0;background:#000;}
        .cboxIframe{background:#000;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:5px solid #000; background:#000;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
        #cboxSlideshow{position:absolute; top:0px; right:90px; color:#fff; }
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:0; background:url(images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;display:none;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:0; background:url(images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;display:none;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxClose{position:absolute; top:20px; right:-60px;z-index:999;color:black; display:block; width:98px; height:19px;background-color: white; text-indent: -9999px; display:block;display:none;}
        #cboxClose:before {
            
        }
        #cboxClose:hover{background-position:bottom center;}
        .icon-bar {
            width:11%;
            
            height:100%;
            position:fixed;
            right: 0;
            top:0;
            z-index:997;
            text-align: center;
        }
        .icon-bar .icon-close {
            display: inline-block;
            margin-top:20px;
            
            color: white;
            font-size:48px;
            z-index:999;
            cursor:pointer;
        }