@include border-box-sizing;

$total-columns: 4;
$column-width: 60px;
// $gutter-width: 0px;
// $container-width: 1200px;
$container-style: 'magic';
$from-direction: 'left';
$omega-float: 'left';

// SUSY SETUP
$susy: (
	// the basics
	columns: $total-columns,
	gutters: 1/4,
	column-width: $column-width,
	gutter-position: after,

	// advanced
	// container: $container-width,
	math: if($container-style == magic, fluid, $container-style),
	flow: if($from-direction == right, rtl, ltr),
	last-flow: if($omega-float == $from-direction, from, to),

	// debug: (
	// 	image: show,
	// 	color: rgba(0,0,0,.7),
	// 	output: overlay,
	// 	// toggle: top right,
	// )
);

$default-map: (
	container: auto,
	columns: 12,
	column-width: 60px,
	gutters: 1/3,
	gutter-position: after,
	math: 'static',
);
