---
title:     Club Golf IDF
bodyclass: front-page
---

.bg-image-01{:style => 'background-image:url(../images/home-logo.jpg);'}
	.table-wrap.home-table
		.table-cell
			%h1.logo
				.logo-img{:src => "../images/logo.png"}