---
title:     Video - Club Golf IDF
bodyclass: video-page
---
/
	.container

		.video-wrapper
			.video-item
				.video-bg-image{:style => "background-image:url(../images/2013.jpg)"}
			.video-item
				.video-bg-image{:style => "background-image:url(../images/2011.jpg)"}
			.video-item
				.video-bg-image{:style => "background-image:url(../images/2010.jpg)"}
			.video-item
				.video-bg-image{:style => "background-image:url(../images/2009.jpg)"}
/
	.video-bg-image{:style => "background-image:url(../images/2013.jpg)"}

#video-gallery.royalSlider.videoGallery.rsDefault
	%a.rsImg{:"data-rsVideo" => "http://vimeo.com/69077320", :href => "../images/2013.jpg" }
		.rsTmb
			%h5.video-title VW Days 2013
	%a.rsImg{:"data-rsVideo" => "http://vimeo.com/68315055", :href => "../images/2012.jpg" }
		.rsTmb
			%h5.video-title VW Days 2012		
	%a.rsImg{:"data-rsVideo" => "https://vimeo.com/69077318", :href => "../images/2011.jpg"}
		.rsTmb
			%h5.video-title VW Days 2011			
	.rsContent
		%a.rsImg{:"data-rsVideo" => "https://vimeo.com/69077319",:href => "../images/2010.jpg" }
			.rsTmb
				%h5.video-title VW Days 2010
	%a.rsImg{:"data-rsVideo" => "https://vimeo.com/69077317", :href => "../images/2009.jpg"}
		.rsTmb
			%h5.video-title VW Days 2009
				
