---
title:     Video - Club Golf IDF
bodyclass: video-page
---

.container

	.video-wrapper
		.video-item
			.video-bg-image{:style => "background-image:url(../images/2013.jpg)"}
			.video-item-overlay
			.table-wrap
				.table-cell
					.video-play-button
						%a.vimeo{:href => 'http://player.vimeo.com/video/69077320?byline=1&amp;portrait=1&amp;color=ffffff&amp;autoplay=1'}
							%i.icon-play
		.video-item
			.video-bg-image{:style => "background-image:url(../images/2011.jpg)"}
			.video-item-overlay
			.table-wrap
				.table-cell
					.video-play-button
						%i.icon-play
		.video-item
			.video-bg-image{:style => "background-image:url(../images/2010.jpg)"}
			.video-item-overlay
			.table-wrap
				.table-cell
					.video-play-button
						%i.icon-play
		.video-item
			.video-bg-image{:style => "background-image:url(../images/2009.jpg)"}
			.video-item-overlay
			.table-wrap
				.table-cell
					.video-play-button
						%i.icon-play
						