---
title:     Club Golf IDF
bodyclass: vw-days-page
---

%section.vw-days-width
	
	%h1.top-title Club Golf Ile de France Celebrates the 15th edition

	.fifteen-wrap
		%img.fifteen{:src => "../images/15-1000.png"}
	
	.article-text
		
		%ul.header-items
			%li 14/15 June
			%li Show'n'shine
			%li Swap meet
			%li Camping ground
			%li party time
		
		%h2.text-title
			%span.text-fr Horaire /
			%span.text-en Timetable 
		%p 
			%span.text-fr Le VW Days se déroule du samedi 14 juin à 7h au dimanche 15 juin à 17h. Les portes pour accéder à la partie "camping" seront cependant ouvertes dès le vendredi 13 juin de 16h à 23h.
			%span.text-en VW Days is a two days show, starting on saturday 14th June at 7AM, ending on sunday 15th June at 5PM. Gates will be opened on friday 13th at 4PM till 11PM exclusively for the camping ground part of the meeting, so all the campers can settle peacefully.

		%h2.text-title
			%span.text-fr Accès /
			%span.text-en Timetable 
		%p 
			%span.text-fr Rue de Clastres - 02790 Seraucourt-le-Grand - France

		%h2.text-title
			%span.text-fr Tarifs / 
			%span.text-en Prices
		%p 
			%span.text-fr
				Les tarifs par personne sont de 15 EUR la journée, 25 EUR le week-end et 35 EUR pour une entrée dès le vendredi.
			%span.text-en
				Prices are per person, you will be charged of 15 EUR for one day, 25 EUR for the week-end, or 35 EUR if you wish to access on Friday.

		%h2.text-title
			%span.text-fr Commodités / 
			%span.text-en Amenities 
		%p
			%span.text-fr
				Plusieurs stands de restauration assureront votre approvisionnement pendant le week-end. Des toilettes et des douches chaudes seront mises à votre disposition durant tout le rassemblement. Des effectifs de sécurité et de premiers secours seront présentes en permanence sur le site.
			%span.text-en
				Many food stands will provide you all you need during the week-end. Toilets and hot showers will be available. Security and first aid teams will be ready to help you permanently.

		%span.text-fr.download-link 
			%a{:href => "REGLEMENT_VW_DAYS_2014-3.pdf"} TÉLÉCHARGEZ LE RÈGLEMENT AU FORMAT .PDF