---
title:     Club Golf IDF
bodyclass: vw-days-page
---

.section
	.container
		.top-title Club Golf Ile de France Celebrates the 15th edition
		.fifteen-wrap
			%img.fifteen{:src => "../images/15-1000.png"}

		.section-bla
			%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id magna dapibus, sollicitudin dolor vitae, dictum urna. Mauris id libero eget libero fermentum accumsan. In condimentum porta mauris et blandit. Sed lectus magna, iaculis nec tristique sit amet, vestibulum sit amet purus. Phasellus nec magna consequat, gravida neque suscipit, vulputate odio. Integer vel dictum purus, sed dictum quam. Nullam at iaculis augue, ut venenatis ligula. Morbi faucibus est non elit porta aliquam. Nullam vitae lorem mi. Phasellus scelerisque massa ut eleifend dictum. Mauris gravida sagittis nibh, a tincidunt urna interdum vitae. Sed sagittis, massa eu pretium egestas, sem urna placerat magna, vitae facilisis eros augue non magna. Vestibulum egestas turpis quis porttitor vulputate. In sed sollicitudin eros. Proin venenatis lorem nulla, ac elementum sapien imperdiet vitae.